{% extends 'admin/layout.html.twig' %}
{% block title %}Tous les produits{% endblock title %}

{% block main %}
    <header class="mb-4">
        <h1>Produits</h1>
    </header>

    <table class="table table-hover">
        <thead class="thead-responsive">
            <tr class="row">
                <th class="col-md">Produit</th>
                <th class="col-md">x</th>
                <th class="col-md">y</th>
            </tr>
        </thead>
        {% if products is not empty %}
            {% for product in products %}
                <tr class="row tr-link" data-href="{{ path('admin_product_new', {'id': product.id }) }}">
                    <td class="col-md">
                        <div class="row">
                            {% set thumb = product.images|first %}
                            <div class="col-md">
                                <img src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description }}" class="img img-fluid">
                            </div>
                            <div class="col-md">
                                {{ product.name }}
                            </div>
                        </div>
                    </td>
                    <td class="col-md">{{ product.stock }}</td>
                      <td class="col-md">{{ product.price }}</td>
                      <td class="col-md">{{ product.category.nom }}</td>

                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>Aucun résultat</td>
            </tr>
        {% endif %}
    </table>


{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_product_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_product'|trans }}
        </a>
    </div>
    <br>
    <div class="section actions">
        <a href="{{ path('admin_category_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_category' }}
        </a>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/allProducts.js"></script>
{% endblock %}
